{% extends 'base.html' %}


{% block content %}

<br>
<div class="content d-flex justify-content-around">
  <div class="column">
      <a href="{% url 'alldocuments'%}"><button type="button" class="btn btn-info"><i class="fa-solid fa-arrow-left-long"></i></button></a>
  </div>
</div>
<br>
<div class="content">
    <br>
    <h2> liste complet des factures</h2><hr>
    <h5> nombre total des factures : {{total_number}}</h5><hr>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code partenaire </th>
          <th scope="col">Date de création</th>
          <th scope="col">dernier modification </th>
          <th scope="col">Author</th>
        </tr>
      </thead>
      <tbody>
        {% for i in factures %}
        <tr>
          <th scope="row">{{i.id}}</th>
          <td><a href="{% url 'facture-Detail' i.id %}">{{i.partenary_code}}</a></td>
          <td><a href="{% url 'facture-Detail' i.id %}">{{i.date_created}}</a></td>
          <td><a href="{% url 'facture-Detail' i.id %}">{{i.last_updated}}</a></td>
          <td><a href="{% url 'facture-Detail' i.id %}">{{i.author.username}}</a></td>
        </tr>
        {% empty %}
        <p> ouh là là vous n'avez pas encore de facture enregistre </p>
      {% endfor %}
      </tbody>
    </table>
      

</div>


{% endblock content %}