{% extends 'base.html' %}

{% block content %}

<div class="content">
    <br>
    <h2> liste complet des administrations</h2><hr>
    <br>
    {% for i in administrationClient %}
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col"> ID </th>
            <th scope="col"> NAME </th>
            <th scope="col"> PHONE NUMBER </th>
            <th scope="col"> EMAIL </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ i.id }}</th>
            <td><a href="{% url 'adminstration-detail' i.id%}">{{ i.client_Name }}</a></td>
            <td>{{ i.partenary_code }}</td>
            <td>{{ i.email_Address }}</td>
          </tr>
        </tbody>
      </table>
      {% empty %}
        <p> ouh là là vous n'avez pas encore de entreprise enregistre </p>
      {% endfor %}

</div>

{% endblock content %}