{% extends 'base.html' %}

    {% load static %}

    {% block content %}
<br>    
    <h2>liste complet des articles</h2><hr>
    <br>
        <div class="row">
            {% for article  in articles %}
                <div class="col-lg-4 col-sm-6 mb-4" style="max-height:400px;">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <a href="{% url 'articles-detail' article.id%}"><img class="img-fluid" src="{{ article.article_image.url }}" alt="{{ article.name }}" style="width:100%;max-height:200px;"/></a>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">{{ article.name }}</div>
                                <p class="card-text"><small class="text-muted">{{article.stock}} en stock</small></p>

                            <div class="portfolio-caption-subheading text-muted" style="width:100%;max-height:200px;">model : {{article.model}}</div>
                        </div>
                    </div>
                </div>
            {% empty %}

                <h1> ouh la la vous n'avez pas encore d'article</h1>

            {% endfor %}


    {% endblock content %}