{% extends 'base.html' %}

    {% load static %}

    {% block content %}
    <br>
    <h3> liste des produits</h3><hr>
    <br>
        <div class="row">
            {% for i  in products %}
                <div class="col-lg-4 col-sm-6 mb-4" style="max-height:400px;border:1px 1px 0.5px black;">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="{% url 'product-detail' i.id%}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <a href="{% url 'product-detail' i.id%}"><h5>{{i.name}}</h5></a>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">{{ i.date_created}}</div>
                                <p class="card-text"><small class="text-muted">{{i.author.username}}</small></p>

                            <div class="portfolio-caption-subheading text-muted" style="width:100%;max-height:200px;">{{i.category}}</div>
                        </div>
                    </div>
                </div>
            {% empty %}

                <h1> ouh la la vous n'avez pas encore de produits</h1>

            {% endfor %}


    {% endblock content %}